.contacto{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 0 100px;
    background-color: white;
    .efecto-blur;
    .contacto-title{
        font-size: 36px;
        width: 600px;
        font-weight: 700;
    }
    .contacto-button{
        .button-design;
        margin-right: 60px;
        width: 210px;
    }
}