.header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transition: 0.6s;
    background-color: transparent;
    .efecto-blur;
    &.sticky{
        background-color: white;
        height: 60px;
        .header-logo h1{ 
            color: @principal-color;
        }
        .header-nav ol li a{
            color: black;   
        }
    }
    &.otherNoIndex{
        position: inline;
    }
    .header-logo{
        display: flex;
        align-items: center;
        img{
            height: 50px;
            margin-left: 50px;
            margin-top: -3px;
        }
        h1{
            color: @principal-color;
            margin: 0;
            font-weight: 700;
            font-size: 30px;
            margin-left: 5px;
            letter-spacing: -1px;
            font-family: @title-font;
            color: white;
        }
    }
    .header-nav{
        width: 40vw;
        height: 80px;
        display: flex;
        align-items: center;
        transition: 0.6s;
        .header-ol{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            transition: 0.6s;
            .header-line{
                height: 20px;
                width: 2px;
                background-color: white;
                &.sticky{
                    background-color: black;
                }
            }
            li{
                list-style: none;
                .all-center;
                a{
                    text-transform: uppercase;
                    font-family: @principal-font;
                    font-weight: 700;
                    font-size: 14px;
                    color: white;
                    &:hover{
                        text-decoration: none;
                        color: @principal-color;
                        transition: @modal-time - 0.3s;
                    }
                }
            }
        }
    }
}