.nosotros{
    width: 100vw;
    height: 740px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .efecto-blur;
    background-color: #FEFEFE;
    .nosotros-img{
        width: 49vw;
        height: 740px;
    }
    .nosotros-container{
        height: 740px;
        width: 51vw;
        box-sizing: border-box;
        padding: 150px 120px 140px 20px;
        .nosotros-title{
            font-family: @title-font;
            font-size: 48px;
            margin: 0;
        }
        .nosotros-line{
            width: 180px;
            height: 3px;
            background-color: @principal-color;
            margin: 20px 0px;
        }
        .nosotros-text{
            color: black;
            font-size: 20px;
            margin-bottom: 30px;
        }
        .nosotros-text-2{
            margin-bottom: 30px;
            color: gray;
        }
        .nosotros-button{
            .button-design;
        }
    }
}